:root {
  --white: rgb(225, 225, 225);
  --decore: #491329; /* färg på knappar, sökikon och aktiv länk */
  --decore-light: #1e4766;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* .img-Wrapper img {
  display: none;
} */


@font-face {
  font-family: "Stars";
  src: url("./fonts/star.woff") format("woff");
}

a, a:visited, a:focus {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

}

.active {
  background-color: var(--decore);
  color: var(--white) !important;
}

.mode-btn {
  background-color: transparent;
  padding: 1em;
  border-radius: 999px;
}
.darkMode .mode-btn {
  border: 0.2px solid var(--white);
  color: var(--white);
}
.lightMode .mode-btn {
  border: 0.2px solid #000;
  color: #000;
}

.lightMode .active {
  background-color: var(--decore-light);
}


.darkMode {
  background-color: #000000;
  color: var(--white);
}

.lightMode {
  color: #000000;
  background-color: #fff;
}

.lightMode .hero{
  background-image: url(../public/images/storm2.jpg);
}

.darkMode .hero {
  background-image: url(../public/images/homeimg.png);
}

.hero {
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  transition: opacity 5s;  
  opacity: 1; 
  background-repeat: no-repeat;
}

.darkMode .arrow {
  background-color: var(--decore);
}
.lightMode .arrow {
  background-color: var(--decore-light);
}

.show-more-btn {
  text-transform: uppercase;
  color: var(--white);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  padding: 1em;
  margin: 1em 0;
  width: 100%;
}
.darkMode .show-more-btn {
  background-color: var(--decore);
}
.lightMode .show-more-btn {
  background-color: var(--decore-light);
}

.arrow {
  /* background-color: var(--decore); */
  color: var(--white);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* text-align: center;
  line-height: 50px;
  vertical-align: middle;
  padding: 15px; */
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
}

.page-title {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Stars, sans-serif;
  letter-spacing: 0.2em;
  margin: 1em 0 0.5em 0;
}

ul {
  list-style-type: none;
}


.fade-in-image { 
  animation: fadeIn 5s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-x: scroll;
  font-family: Stars, sans-serif;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.list-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

.darkMode .list-item a{
  color: var(--white);
}
.lightMode .list-item a{
  color: #000;
}

.search_input {
  /* padding: 1em; */
  /* border-radius: 999px; */
  padding: 1em;
  border: none;
  position: relative;
  width: 100%;
  color: var(--white);
  background: rgba(118, 118, 118, 0.2);
  border-radius: 999px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(38, 38, 38, 0.3);
}


.search-btn {
  position: absolute;
  right: 1em;
  padding: 1em;
  background: var(--white);
  color: var(--decore);
  border: none;
  cursor: pointer;
  border-radius: 999px;
}

.lightMode .search-btn {
  color: var(--decore-light);
  background: transparent;
}

.main-container {
  position: absolute;
  top: 260px;
  padding: 0 1em;
  width: 100%;
}

.card-container {
  display: grid;
  gap: 1em;
  margin-bottom: 1em;
}

.card-container .card {
  display: flex;
  align-items: center;
  height: 100%;
} 
.card {
  padding: 2em 1em;
  margin: 1em 0;
  /* From https://css.glass */
  background: rgba(118, 118, 118, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(38, 38, 38, 0.3);
}

.lightMode .card, .lightMode .search_input {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.load-more-btn {
  padding: 1em;
  color: var(--white);
  border-radius: 999px;
  border: 1px solid var(--white);
  margin: 1em 0;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  background: #000;
}

.lightMode .load-more-btn {
  color: #000;
  background: var(--white);
  border: 1px solid #000;
}



.scroll-to-top {
  z-index: 9999px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--decore);
  color: var(--white);
  border: none;
  padding: 0.7em 2em;
  border-radius: 20px 0 0;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.lightMode .scroll-to-top {
  background-color: var(--decore-light);
}



@media screen and (min-width: 780px) {
   .search-btn {
    
   }

   .search_input {

  }

  .main-nav {
   justify-content: center;
   max-width: 700px;
   margin: auto;
  }

  .main-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .card-container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    /* background-image: url(http://localhost:3000/static/media/homeimg.71f2788….png); */
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center;
    height: 500px;
    position: relative;
    transition: opacity 5s;
    opacity: 1; */
}
   
}


